{% extends 'base.html' %}

{% block grid %}

<table>
    <thead>
	{% for h in table['headers'] %}
	<th>{{ h }}</th>
	{% end %}
    </thead>
    <tbody>
	{% for row in table['rows'] %}
	<tr>
	    <td><a href="/{{ row[0] }}/">{{ row[0] }}</a></td>
	    <td class="secondary">{{ format.pprint_list(row[1]) }}</td>
	    <td>
		<a class="action" name="cloneDB" rel="#cloneDBDiv">Clone</a>
		<a class="action" name="dropDB" rel="#dropDBDiv">Drop</a>
		<a class="action" name="repairDB" rel="#repairDBDiv">Repair</a>
	    </td>
	</tr>
	{% end %}
    </tbody>
</table>
<div class="clear"></div>

<div class="modal" id="cloneDBDiv">
    <h3></h3><!-- text filled in by JS -->
    <form method="post" action="/x_clone_db/">
	{{ xsrf_form_html() }}
	<input type="text" name="new" />
	<input type="hidden" name="original" value="" />
	<button type="submit" value="Clone">Clone</button>
    </form>   
</div>
<div class="modal" id="dropDBDiv">
    <h3></h3><!-- text filled in by JS -->
    <form method="post" action="/x_drop_db/">
	{{ xsrf_form_html() }}
	<input type="hidden" name="db" value="" />
	<button type="submit" value="Yes">Yes, drop</button>
	<button type="button" value="No">No, cancel</button>
    </form>   
</div>
<div class="modal" id="repairDBDiv">
    <h3></h3><!-- text filled in by JS -->
    <form method="post" action="/x_repair_db/">
	{{ xsrf_form_html() }}
	<input type="hidden" name="db" value="" />
	<button type="submit" value="Yes">Yes</button>
    </form>   
</div>
<!-- divs to notify of success/failure in an AJAX call through an overlay -->
<div class="modal" id="actionFailDiv">
    <h3>Action unsuccessful. Please try again</h3>
</div>
<div class="modal" id="actionWinDiv">
    <h3>Action successful.</h3>
</div>

{% end %}