{% extends 'base.html' %}

{% block grid %}

<table>
    <thead>
    <th>_id</th>
	{% for h in table['headers'] %}
	<th>{{ h }}</th>
	{% end %}
    </thead>
    <tbody>
	{% for row in table['rows'] %}
	<tr>
        <td><a href="/{{ table['db_name'] }}/{{ table['coll_name'] }}/{{ row['_id'] }}/">
                {{ row["_id"] }}</a></td>
        {% for col_name in table['headers'] %}
            <td>{{ row[col_name] }}</td>
        {% end %}
	</tr>
	{% end %}
    </tbody>
</table>
<div class="clear"></div>


{% end %}
